@import "prefixer/prefixer.less";

//--------------------------------------------------------------
// ng-show ng-hide transitions
//--------------------------------------------------------------
.bounce-down.ng-hide-remove.ng-hide-remove-active {
	.animation( bounceInDown 1s );
}

.bounce-down.ng-hide {
	.animation( bounceOutUp 1s );
}

.zoom.ng-hide-remove.ng-hide-remove-active {
	.animation( zoomIn 0.3s );
}

.zoom.ng-hide {
	.animation( zoomOut 0.5s );
}

//--------------------------------------------------------------
// Dropdown menu
//--------------------------------------------------------------
.open > .dropdown-menu {
	visibility: visible;
	.transform( scale(1, 1) );  
	opacity:1;
}
	
.dropdown-menu {
	opacity:.3;
	.transform-origin( top );
	.animation-fill-mode( forwards ); 
	.transform( scale(1, 0) );
	display: block; 
	visibility: hidden;
	.transition( all 0.2s linear );
}

//--------------------------------------------------------------
// Page transitions
//--------------------------------------------------------------
[ui-view].ng-enter, [ui-view].ng-leave {
	position: absolute;
	left: 0;
	right: 0;
}

[ui-view].ng-enter {
	.animation( fadeIn 0.5s );
}

[ui-view].ng-leave {
	.animation( fadeOut 0.5s );
}

