<!-- Header - Static navbar -->
<nav id="header" class="navbar navbar-default navbar-static-top" role="navigation">
		<div class="navbar-header">
			<button 
				type="button" 
				class="navbar-toggle" 
				ng-click="navbarCollapsed = !navbarCollapsed"
				ng-init="navbarCollapsed=true">

				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			
			</button>
			
			<a id="logoTab" class="navbar-brand" href="home"><strong><em>MyApp Name</em></strong></a>
		</div>
		<div class="collapse navbar-collapse" collapse="navbarCollapsed">
			<ul class="nav navbar-nav navbar-right">

				<!-- Home -->
				<li id="homeTab" class="ngClass: activeTab('home')">
					<a href="home">
						<i class="fa fa-home"></i>
						{{'header.home' | loc}}
					</a>
				</li>

				<!-- Contact -->
				<li id="contactTab" class="ngClass: activeTab('contact')">
					<a id="contactLink" href="contact">
						<i class="fa fa-envelope"></i>
						{{'header.contact' | loc}}
					</a>
				</li>

				<!-- Singn-in sign-up Menu Item -->
				<li id="loginTab" class="ngClass: activeTab('login')" dropdown ng-hide="loggedIn">
					<a href="#" class="dropdown-toggle" dropdown-toggle data-toggle="dropdown">
						<i class="fa fa-sign-in"></i>
						{{'header.login' | loc}}<b class="caret"></b>
					</a>
					<div data-signin class="dropdown-menu" role="menu" style="padding:5px;">
						<!-- Here, the login view will be inserted -->
				 	</div>
				</li>

				<!-- Signout -->
				<li class="ngClass: activeTab('signout')" data-ng-show="loggedIn">
					<a href="#" data-ng-click="$broadcast('signout')">
						<span class="glyphicon glyphicon-log-out"> </span>
						{{'header.logout' | loc}}
					</a>
				</li>
			</ul>
		</div><!--/.nav-collapse -->
</nav>
