<div class="row">
	<div class="col-sm-3">
		<div style="margin-top:60px;">
			<ul class="nav nav-pills nav-stacked">
				<li role="presentation" class="active">
					<a data-ng-href="#a">Option A</a>
				</li>
				<li role="presentation">
					<a data-ng-href="#b">Option B</a>
				</li>
				<li role="presentation">
					<a data-ng-href="#c">Option C</a>
				</li>
				<li role="presentation">
					<a data-ng-href="#y">Option ...</a>
				</li>
				<li role="presentation">
					<a data-ng-href="#z">Option Z</a>
				</li>
			</ul>					
		</div>
	</div>
	<div class="col-sm-9">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 data-ng-hide="loadingUser.active()">{{ user.displayName }}</h4>
				<h4 ng-show="loadingUser.active()">
					<i class="fa fa-spinner fa-spin"></i>
				</h4>
			</div>
			<div class="panel-body" data-ui-view="detail">
				<img src="{{user.picture}}">
				<p>
										{{user}}
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>
			</div>
		</div>
	</div>
</div>
