<div class="row">
	<div class="col-sm-3">
		<div style="margin-top:60px;">
			<ul class="nav nav-pills nav-stacked">
				<li role="presentation" class="active">
					<a data-ng-href="#a">Option A</a>
				</li>
				<li role="presentation">
					<a data-ng-href="#b">Option B</a>
				</li>
				<li role="presentation">
					<a data-ng-href="#c">Option C</a>
				</li>
				<li role="presentation">
					<a data-ng-href="#y">Option ...</a>
				</li>
				<li role="presentation">
					<a data-ng-href="#z">Option Z</a>
				</li>
			</ul>					
		</div>
	</div>
	<div class="col-sm-9">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 data-ng-hide="loadingUser.active()">{{ user.displayName }}</h4>
				<h4 ng-show="loadingUser.active()">
					<i class="fa fa-spinner fa-spin"></i>
				</h4>
			</div>
			<div class="panel-body">
				<form>
					<div class="row">
						<div class="col-sm-2">
							<img ng-src="{{user.picture}}" class="img-responsive">
						</div>
						<div class="col-sm-10">
							<span class="btn-file btn btn-default">
							 	<input 
							 		type="file" 
							 		nv-file-select="pictureFile" 
							 		uploader="uploader">

								{{ 'dashboard.uploadPicture' | loc }}
							</span>
							{{pictureFile}}
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
