<!-- User Create -->
<div responsive-body="6">
	<div class="panel panel-default">

		<div class="panel-heading">
			<h4>{{'signup.panelHeaderLabel'|loc}}</h4>
		</div>

		<div class="panel-body">
			<form class="center boing-on-valid" name="signupForm" novalidate>
				<!-- User -->
				<input
					class="jsw-input"
					type="text"
					placeholder="{{'signup.userLabel'|loc}}" 
					name="username"
					icon-l="fa fa-user fa-fw"
					ng-model="user.username"
					ng-minlength=3
					ng-pattern="/^\s*\w*\s*$/"
					jsw-override-messages="overrideMessages"
					jsw-unique-user="isUserUnique"
					jsw-messages="'validationErrors' | loc" 
					jsw-message-template="<div class='message-animation'></div>"
					required>

				<!-- Email -->
				<input 
					class="jsw-input"
					type="email" 
					placeholder="{{'signup.email'|loc}}"
					name="email"
					icon-l="fa fa-envelope fa-fw"
					ng-model="user.email"
					jsw-messages="'validationErrors' | loc" 
					jsw-email
					required>

				<!-- Password -->
				<input 
					class="jsw-input"
					type="password" 
					icon-l="fa fa-lock fa-fw"
					placeholder="{{'signup.passwordLabel'|loc}}"
					ng-model="user.password"
					required>

				<!-- Retpye Password -->
				<input
					class="jsw-input"
					type="password"
					name="retype"
					icon-l="fa fa-check-square-o fa-fw"
					placeholder="{{'signup.confirmPassword'|loc}}"
					jsw-missmatch="user.password"
					jsw-messages="'validationErrors' | loc" 
					ng-model="other.retypePassword"
					required>

				<div>
					<!-- Terms agreement -->
					<input 
						type="checkbox" 
						style="margin-right: 7px; margin-top: 15px" 
						ng-model="user.agreedTerms"
						ng-click="checkValidity( signupForm )"
						required>
						{{'signup.terms' | loc}}
						<a href="terms">{{'signup.termsLink' | loc}}</a>
		
					<!-- Submit button -->
					<button
						type="submit" 
						class="btn margin-vertical-10 pull-right" 
						ng-click="create(signupForm)" 
						ng-class="{ 'btn-default': signupForm.$invalid, 'btn-success': signupForm.$valid }"
						ng-mouseover="checkValidity( signupForm )"
						>
						{{ 'signup.doSignup' | loc }}
						<i class="fa fa-sign-in"
							data-ng-hide="creatingUser.active()">
						</i>
						<i class="fa fa-spinner fa-spin"
							data-ng-show="creatingUser.active()">
						</i>
					</button>
				</div>

				<br>

				<div class="zoom alert alert-danger margin-vertical-10 "
					ng-show="alertMessage && signupForm.$invalid">
					<p>{{alertMessage}}</p>
				</div>
			</form>
		</div>
	</div>
</div>
