<!-- Member Create content -->
<div responsive-body="6">
	<div class="panel panel-default">

		<div class="panel-heading">
			<h4>{{'signup.panelHeaderLabel'|loc}}</h4>
		</div>

		<div class="panel-body tooltip-danger">
			<form class="center tooltip-danger" name="signupForm" novalidate>
				<!-- User -->
				<input
					class="jsw-input margin-vertical-10 tooltip-danger"
					type="text"
					placeholder="{{'signup.userLabel'|loc}}" 
					icon="fa fa-user fa-fw"
					ng-model="user.username"
					ng-minlength=3
					ng-pattern="/^\s*\w*\s*$/"
					ng-pattern-error-message="{{ 'validationErrors.only1word' | loc }}"
					tooltip-placement="bottom"
					validation-errors="{{ 'validationErrors' | loc }}" 
					required>

				<!-- Email -->
				<input 
					class="jsw-input margin-vertical-10 tooltip-danger"
					type="email" 
					icon="fa fa-envelope fa-fw"
					placeholder="{{'signup.email'|loc}}"
					data-ng-model="user.email"
					tooltip-placement="bottom"
					validation-errors="{{ 'validationErrors' | loc }}" 
					required>

				<!-- Password -->
				<input 
					class="jsw-input margin-vertical-10"
					type="password" 
					icon="fa fa-lock fa-fw"
					placeholder="{{'signup.passwordLabel'|loc}}"
					ng-model="user.password"
					required>

				<!-- Retpye Password -->
				<input
					class="jsw-input margin-vertical-10 tooltip-danger"
					type="password"
					icon="fa fa-check-square-o fa-fw"
					placeholder="{{'signup.confirmPassword'|loc}}"
					jsw-missmatch="user.password"
					validation-errors="{{ 'validationErrors' | loc }}" 
					tooltip-placement="bottom"
					ng-model="retypePassword"
					required>

				<!-- Remember me -->
				<div>
					<input 
						type="checkbox" 
						style="margin-right: 7px; margin-top: 15px" 
						data-ng-model="rememberMe">
						{{'login.rememberMe' | loc}}
		
					<button
						type="submit" 
						class="btn btn-default margin-vertical-10 pull-right" 
						data-ng-click="create()" 
						data-ng-disabled="signupForm.$invalid">
						{{ 'signup.doSignup' | loc }}
						<i class="fa fa-signin"
							data-ng-hide="loading">
						</i>
						<span data-loading-widget="loading"></span>
					</button>
				</div>

				<br>

				<div class="alert alert-danger margin-vertical-10"
					data-ng-show="createError">
					<p>{{'signup.createError'|loc}}</p>
					<a href="#resendPassword">{{'forgotPassword' | loc}}</a>
				</div>

			</form>
		</div>
	</div>
</div>
